<!DOCTYPE html>
<html lang="zh-CN">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>动态详情页面</title>

    <link th:href="@{${urls.getForLookupPath('/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link th:href="@{${urls.getForLookupPath('/mycss/my.css')}}" rel="stylesheet">
    <script th:src="@{${urls.getForLookupPath('/vue.js')}}" type="text/javascript" charset="utf-8"></script>

    <style type="text/css">
        body {

            /*background-repeat: no-repeat;*/

            /*background-position: center center #2D0F0F;*/

            background-color: #f0f0f0;

            background-image: url(/rooms/背景7.jpeg);

            background-size: 100%;

            /*background-size: cover;*/

            background-attachment: fixed;

        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">木禾空间</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li th:if="${session.sessionUser != null}"><a href="/"><span class="glyphicon glyphicon-user"
                                                                             aria-hidden="true"></span> 个人空间</a>
                </li>
                <li th:if="${session.sessionUser != null}"><a th:href="'/room?author='+${session.sessionUser.username}"><span
                        class="glyphicon glyphicon-home" aria-hidden="true"></span> 我的主页</a></li>
                <li th:if="${session.sessionUser != null}"><a href="/friend"><span
                        class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> 好友</a></li>
                <li><a href="/publicRoom"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> 公共圈</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="/search">
                <div class="form-group">
                    <input type="text" class="form-control" name="seaText" placeholder="账号、昵称">
                </div>
                <button type="submit" class="btn btn-default">查找</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-sm hidden-xs"><a href="/play"><span class="glyphicon glyphicon-ice-lolly-tasted"
                                                                      aria-hidden="true"></span> 娱乐</a></li>
                <li><a href="/notice">
                    <span class="glyphicon glyphicon-bell" aria-hidden="true" id="ic_notice"></span>
                    <span class="badge" id="notice">0</span>
                </a></li>
                <li th:if="${session.sessionUser == null}"><a href="/go">登录</a></li>
                <li class="dropdown" th:if="${session.sessionUser != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">[[${session.sessionUser.name}]] <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout" style="color: #00a1d6"><span class="glyphicon glyphicon-log-out"
                                                                           aria-hidden="true"></span> 退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            <div id="app">
                <div class="panel panel-info panel-my" v-if="life != false">
                    <div class="panel-heading">动态详情</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-10 col-xs-10 col-md-11">
                                <div class="media">
                                    <div class="media-left">
                                        <!------头像------>
                                        <a href="#">
                                            <img class="media-object img-rounded" :src="life.u_url" alt="">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <!------昵称------>
                                        <h4 class="media-heading"><a
                                                :href="'/room?author='+life.author">{{life.name}}</a></h4>
                                        {{life.l_crt}}
                                    </div>
                                </div>
                            </div>
                            <!-------删除动态------>
                            <div class="col-xs-2 col-md-1" v-if="life.author == usernameid">
                                <h4><span class="glyphicon glyphicon-trash ic-dela" aria-hidden="true"
                                          :id="'life_'+life.l_id" :data-id="life.l_id" onclick="delLife(this)"></span>
                                </h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="thumbnail">
                                    <div class="caption">
                                        {{life.l_text}}
                                    </div>
                                    <!------动态图像------>
                                    <img class="img-a" :src="life.url_1">
                                </div>
                            </div>
                        </div>
                        <div class="row give-height">
                            <div class="col-xs-8 col-md-8">浏览<span :id="'look_l_'+life.l_id">{{life.look_c}}</span>次
                            </div>
                            <div class="col-xs-2 col-md-2">
                                <template v-if="getOrLike(life.l_id)">
                                    <span onclick="glyLike(this)" :id="'l_'+life.l_id" :data-id="life.l_id"
                                          :data-author="life.author" data-a="a" class="gly-ic">
                                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                        <span :id="'like_l_'+life.l_id">{{life.like_c}}</span>
                                    </span>
                                </template>
                                <template v-else>
                                    <span onclick="glyLike(this)" :id="'l_'+life.l_id" :data-id="life.l_id"
                                          :data-author="life.author" class="gly-ica">
                                        <span class="glyphicon glyphicon-heart " aria-hidden="true"></span>
                                        <span :id="'like_l_'+life.l_id">{{life.like_c}}</span>
                                    </span>
                                </template>
                            </div>
                            <div class="col-xs-2 col-md-2">
                                <span class="glyphicon glyphicon-comment"
                                      aria-hidden="true" style="color: grey"></span>
                                <span :id="'com_c_'+life.l_id">{{life.com_c}}</span>
                            </div>
                        </div>
                        <!--一级评论-->
                        <div class="" v-for="comm in comment"
                             v-if="comm.to_life_id == life.l_id && comm.c_type == 1 && comm.to_col_id == 0">
                            <div class="row">
                                <div class="col-md-11 col-xs-10">
                                    <div class="media comment-a">
                                        <div class="media-left">
                                            <!------评论者头像------>
                                            <a href="#">
                                                <img class="media-object img-rounded" :src="comm.u_url"
                                                     alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a :href="'/room?author='+comm.user_id">{{comm.name}}</a>
                                            : {{comm.c_text}}<br>
                                            {{comm.c_time}} &nbsp;<span class="glyphicon glyphicon-comment gly-coma"
                                                                        aria-hidden="true"
                                                                        data-toggle="collapse"
                                                                        :href="'#'+comm.c_id"
                                                                        onclick="glyComment(this)"
                                                                        :id="'gly-co-'+comm.c_id"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseExample"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 col-xs-2" v-if="comm.user_id == usernameid">
                                    <h5 :data-id="comm.c_id" :data-lid="comm.to_life_id"
                                        onclick="delComment(this)"><span
                                            class="glyphicon glyphicon-trash ic-del" aria-hidden="true"></span>
                                    </h5>
                                </div>
                            </div>
                            <!-------------------------二级评论------------------------------->
                            <div v-for="comme in comment"
                                 v-if="comme.to_col_id == comm.c_id">
                                <div class="row comment-a">
                                    <div class="col-md-1"></div>
                                    <div class="col-xs-10 col-md-10">
                                        <div class="media">
                                            <div class="media-left">
                                                <a :href="comme.u_url">
                                                    <img class="media-object img-rounded" :src="comme.u_url"
                                                         alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a :href="'/room?author='+comme.user_id">{{comme.name}}</a> 回复 <a
                                                    :href="'/room?author='+comme.to_user_id">{{comme.to_name}}</a>
                                                : {{comme.c_text}}<br>
                                                {{comme.c_time}} &nbsp;<span
                                                    class="glyphicon glyphicon-comment gly-coma"
                                                    aria-hidden="true"
                                                    data-toggle="collapse"
                                                    :href="'#'+comme.c_id"
                                                    onclick="glyComment(this)"
                                                    :id="'gly-co-'+comme.c_id"
                                                    aria-expanded="false"
                                                    aria-controls="collapseExample"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-md-1" v-if="comme.user_id == usernameid">
                                        <h5 :data-id="comme.c_id" :data-lid="comme.to_life_id" title="删除"
                                            onclick="delComment(this)"><span
                                                class="glyphicon glyphicon-trash ic-del" aria-hidden="true"></span>
                                        </h5>
                                    </div>
                                </div>
                                <!--二级评论框-->
                                <div class="collapse" :id="comme.c_id">
                                    <div class="row comment-a">
                                        <div class="col-md-1 "></div>
                                        <div class="col-xs-8 col-md-9">
                                            <input type="hidden" :id="'to_user_id-'+comme.c_id"
                                                   :value="comme.user_id">
                                            <input type="hidden" :id="'to_life_id-'+comme.c_id" :value="life.l_id">
                                            <input type="text" class="form-control" :id="'input-'+comme.c_id"
                                                   :placeholder="'@'+comme.name+':'">
                                        </div>
                                        <div class="col-md-2 col-xs-3">
                                            <button type="button" class="btn " :data-id="comme.c_id" :data-to_cid="comm.c_id"
                                                    onclick="comment(this)">回复
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--一级评论框-->
                            <div class="collapse" :id="comm.c_id">
                                <div class="row comment-a">
                                    <div class="col-md-1 col-xs-1"></div>
                                    <div class="col-xs-7 col-md-9">
                                        <input type="hidden" :id="'to_user_id-'+comm.c_id"
                                               :value="comm.to_user_id">
                                        <input type="hidden" :id="'to_life_id-'+comm.c_id" :value="life.l_id">
                                        <input type="text" class="form-control" :id="'input-'+comm.c_id"
                                               :placeholder="'回复  '+comm.name+':'">
                                    </div>
                                    <div class="col-md-2 col-xs-3">
                                        <button type="button" class="btn " :data-id="comm.c_id" :data-to_cid="comm.c_id"
                                                onclick="comment(this)">回复
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10 col-xs-8">
                                <input type="hidden" :id="'life_author-'+life.l_id" :value="life.author">
                                <input type="text" class="form-control" :id="'input_text-'+life.l_id" placeholder="评论">
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <button type="button" class="btn btn-info" :data-id="life.l_id"
                                        onclick="subComment(this)">发表
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" v-if="life == false">此动态不在了⊙﹏⊙</div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<footer class="modal-footer" style="border-top-width: 0px">
    <div class="container">
        <div>Copyright © 2020 · All Rights Reserved Powered By 举个栗子</div>
        <br>
    </div>
</footer>
<script th:src="@{${urls.getForLookupPath('/bootstrap/jquery.min.js')}}"></script>
<script th:src="@{${urls.getForLookupPath('/bootstrap/js/bootstrap.min.js')}}"></script>
<script th:src="@{${urls.getForLookupPath('/mycss/my.js')}}"></script>

<script type="text/javascript">
    var username = [[${session.sessionUser.username}]];
    var l_id = [[${l_id}]];

    var vm = new Vue({
        el: "#app",
        data: {
            life: [],
            comment: [],
            myLike: [],
            usernameid: username
        },
        created: function () {
            var that = this;
            $.ajax({
                type: "get",
                url: "/life",
                data: {"l_id": l_id},
                success: function (msg) {
                    var obj = JSON.parse(msg);
                    that.life = obj;
                },
                error: function (msg) {
                    alert("请求失败");
                }
            });

            $.ajax({
                type: "get",
                url: "/lifeComment",
                data: {"l_id": l_id},
                success: function (msg) {
                    var obj1 = JSON.parse(msg);
                    that.comment = obj1;
                },
                error: function (msg) {
                    alert("请求失败");
                }
            });

            $.ajax({
                type: "get",
                url: "/getLifeLike",
                data: {
                    "user_id": username,
                    "to_life_id": l_id
                },
                success: function (msg) {
                    var obj2 = JSON.parse(msg);
                    that.myLike = obj2;
                },
                error: function (msg) {
                    alert("请求失败");
                }
            });

            inqNoticeNotRead();
        },

        methods: {
            /*判断是否点赞*/
            getOrLike: function (l_id) {
                var that = this;
                var like = that.myLike;
                // console.log(like);
                /*console.log(author);*/
                for (var i = 0; i < like.length; i++) {
                    if (l_id === like[i].to_life_id) {
                        // alert(author);
                        return true;
                    }
                }
                return false;
            }
        }


    });

</script>

</body>
</html>