<!DOCTYPE html>
<html lang="zh-CN">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的消息</title>
    <link th:href="@{${urls.getForLookupPath('/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link th:href="@{${urls.getForLookupPath('/mycss/my.css')}}" rel="stylesheet">
    <script th:src="@{${urls.getForLookupPath('/vue.js')}}" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        body {
            /*background-repeat: no-repeat;*/
            /*background-position: center center #2D0F0F;*/
            /*background-size: cover;*/
            background-color: #f0f0f0;
            background-image: url(/rooms/背景7.jpeg);
            background-size: 100%;
            background-attachment: fixed;
        }
        a {
            color: grey;
        }
    </style>
</head>
<body>
<div th:replace="commons::navigation(active='notice')"></div>
<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">我的消息</div>
            </div>
            <div id="app">
                <div class="panel panel-warning" v-for="comm in comment">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10 col-xs-9">
                                <div class="media">
                                    <div class="media-left">
                                        <!------评论者头像------>
                                        <a href="#">
                                            <img class="media-object img-rounded" :src="comm.u_url"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a :href="'/room?author='+comm.user_id">{{comm.name}}</a>
                                        <span v-if="comm.c_type == 1"> 评论了你 :</span>
                                        <span v-else-if="comm.c_type == 2"> 回复了你 :</span>
                                        <span v-else-if="comm.c_type == 3"> 关注了你 </span>
                                        <span v-else-if="comm.c_type == 4"> 取消关注 </span>
                                        <span v-else-if="comm.c_type == 5">
                                            <template v-if="comm.or_read == 0">
                                            <a :href="'/lifeHtml?l_id='+comm.to_life_id"
                                               :data-id="comm.c_id"
                                               style="color: #333"
                                               onclick="setNotic(this)"> 赞了你 </a>
                                            </template>

                                            <template v-else>
                                            <a :href="'/lifeHtml?l_id='+comm.to_life_id"
                                               :data-id="comm.c_id"
                                               style="color: #333"
                                               data-s="b"
                                               onclick="setNotic(this)"> 赞了你 </a>
                                            </template>

                                        </span>
                                        <span v-else-if="comm.c_type == 7"> 给你留言 </span>
                                        <span v-else-if="comm.c_type == 8"> 回复你的留言 </span>
                                        <template v-if="comm.c_type == 1 || comm.c_type == 2">
                                            <template v-if="comm.or_read == 0">
                                                <a :href="'/lifeHtml?l_id='+comm.to_life_id" :data-id="comm.c_id"
                                                   onclick="setNotic(this)"> {{comm.c_text}} </a>
                                            </template>
                                            <template v-else>
                                                <a :href="'/lifeHtml?l_id='+comm.to_life_id" :data-id="comm.c_id"
                                                   data-s="b"
                                                   onclick="setNotic(this)"> {{comm.c_text}} </a>
                                            </template>
                                        </template>
                                        <template v-if="comm.c_type == 7">
                                            <template v-if="comm.or_read == 0">
                                                <a :href="'/room?author='+comm.to_user_id" :data-id="comm.c_id"
                                                   onclick="setNotic(this)"> {{comm.c_text}} </a>
                                            </template>
                                            <template v-else>
                                                <a :href="'/room?author='+comm.to_user_id" :data-id="comm.c_id"
                                                   data-s="b"
                                                   onclick="setNotic(this)"> {{comm.c_text}} </a>
                                            </template>
                                        </template>
                                        <template v-if="comm.c_type == 8">
                                            <template v-if="comm.or_read == 0">
                                                <a :data-id="comm.c_id" onclick="setNotic(this)"> {{comm.c_text}} </a>
                                            </template>
                                            <template v-else>
                                                <a :data-id="comm.c_id" data-s="b" onclick="setNotic(this)">
                                                    {{comm.c_text}} </a>
                                            </template>
                                        </template>
                                        <br>
                                        {{comm.c_time}} &nbsp;<span class="label label-danger" v-if="comm.or_read == 0"
                                                                    :data-id="comm.c_id" :id="comm.c_id"

                                                                    onclick="setNotic(this)">未读</span>
                                        <span class="label label-default" v-else :id="comm.c_id"
                                              :data-id="comm.c_id"
                                              data-s="a"
                                              onclick="setNotic(this)">已读</span>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-md-2 col-xs-3">
                                <span v-if="comm.or_read == 0">
                                    <button type="button" class="btn btn-success" :data-id="comm.c_id" :id="comm.c_id"
                                            onclick="setRead(this)">未读</button>
                                </span>
                                <span v-else>
                                    <button type="button" class="btn btn-default" :id="comm.c_id"
                                            onclick="setNotRead(this)">已读</button>
                                </span>
                            </div>-->
                        </div>
                    </div>
                </div>
                <!--<div class="panel panel-default">
                    <div class="panel-heading" @click="getMoreNot">点击查看更多消息</div>
                </div>-->
                <div class="alert alert-danger" role="alert" v-if="or_true">没有消息啦</div>
                <button type="button" class="btn btn-info btn-block" @click="getMoreNot" v-else>点击查看更多消息</button>
                <br>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<!--页脚-->
<footer th:replace="commons::footer"></footer>
<script th:src="@{${urls.getForLookupPath('/bootstrap/jquery.min.js')}}"></script>
<script th:src="@{${urls.getForLookupPath('/bootstrap/js/bootstrap.min.js')}}"></script>
<script th:src="@{${urls.getForLookupPath('/mycss/my.js')}}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var username = /*[[${session.sessionUser.username}]]*/;
    /*]]>*/
    var page = 1;
    //消息轮询
    var timeCount = 0;
    var interval = setInterval("inqNoticeNotRead()",15000);
    var vm = new Vue({
        el: "#app",
        data: {
            comment: [],
            usernameid: username,
            or_true: false
        },
        created: function () {
            var that = this;

            $.ajax({
                type: "get",
                url: "/getNotice",
                data: {
                    "to_user_id": username,
                    "page": 0
                },
                success: function (msg) {
                    var obj1 = JSON.parse(msg);
                    if (obj1.length < 14) {
                        that.or_true = true;
                    }
                    that.comment = obj1;
                },
                error: function (msg) {
                    alert(msg);
                    alert("请求失败");
                }
            });
            inqNoticeNotRead();
        },
        methods: {

            getMoreNot: function () {
                var that = this;

                $.ajax({
                    type: "get",
                    url: "/getNotice",
                    data: {
                        "to_user_id": username,
                        "page": page
                    },
                    success: function (msg) {
                        var obj = JSON.parse(msg);
                        if (obj.length === 0) {
                            // alert("没有更多动态啦！");
                            that.or_true = true;
                            return;
                        }
                        if (obj.length < 14) {
                            that.or_true = true;
                        }
                        for (var i = 0; i < obj.length; i++) {
                            that.comment.push(obj[i]);
                        }
                        page++;
                    },
                    error: function (msg) {
                        alert(msg);
                        alert("请求失败");
                    }
                });
            }
        }


    });
</script>
</body>
</html>