<!DOCTYPE html>
<html lang="zh-CN">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>娱乐</title>
    <link th:href="@{${urls.getForLookupPath('/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link th:href="@{${urls.getForLookupPath('/mycss/my.css')}}" rel="stylesheet">
</head>
<body>
<div th:replace="commons::navigation(active='play')"></div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="/game"></iframe>
</div>
<!--页脚-->
<footer th:replace="commons::footer"></footer>
<script th:src="@{${urls.getForLookupPath('/bootstrap/jquery.min.js')}}"></script>
<script th:src="@{${urls.getForLookupPath('/bootstrap/js/bootstrap.min.js')}}"></script>
<script th:src="@{${urls.getForLookupPath('/mycss/my.js')}}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var username = /*[[${session.sessionUser.username}]]*/;
    /*]]>*/
    $(document).ready(function () {
        inqNoticeNotRead();
    });
</script>
</body>
</html>