<!DOCTYPE html>
<html lang="zh-CN">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>公共圈</title>
    <head th:insert="~{commons::head}"></head>
</head>
<body>
<!--导航栏-->
<div th:replace="commons::navigation(active='publicRoom')"></div>
<br><br><br><br>
<!--Vue-->
<div class="container" id="app">
    <!--返回顶部-->
    <button onclick="topFunction()" id="myBtn" title="返回顶部">
        <span class="glyphicon glyphicon-chevron-up"
                     aria-hidden="true"></span>
    </button>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            <!--发表动态-->
            <div th:replace="commons::publishLife(pla='B')"></div>
            <div class="panel panel-info panel-my">
                <div class="panel-heading">公开的动态</div>
            </div>
            <!--动态列表-->
            <div th:replace="commons::lifeList"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<!--页脚-->
<footer th:replace="commons::footer"></footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    var username = /*[[${session.sessionUser.username}]]*/;
    /*]]>*/
    var page = 1;

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    //消息轮询
    var timeCount = 0;
    var interval = setInterval("inqNoticeNotRead()",15000);
    var vm = new Vue({
        el: "#app",
        data: {
            life: [],
            comment: [],
            myLike: [],
            usernameid: username,
            mySay: false,
            or_true: false,
            no_go_down: true
        },
        created: function () {
            var that = this;
            $.ajax({
                type: "get",
                url: "/publicRoomLife",
                data: {"page": 0},
                success: function (msg) {
                    var obj = JSON.parse(msg);
                    if (obj.length < 10) {
                        that.or_true = true;
                        that.no_go_down = false;
                    }
                    that.life = obj;
                },
                error: function (msg) {
                    alert("请求失败");
                },
            });

            $.ajax({
                type: "get",
                url: "/publicRoomComment",
                data: {"page": 0},
                success: function (msg) {
                    var obj1 = JSON.parse(msg);
                    that.comment = obj1;
                },
                error: function (msg) {
                    alert("请求失败");
                },
            });

            $.ajax({
                type: "get",
                url: "/getPublicRoomLike",
                data: {
                    "user_id": username,
                    "page": 0
                },
                success: function (msg) {
                    var obj2 = JSON.parse(msg);
                    that.myLike = obj2;
                },
                error: function (msg) {
                    alert("请求失败");
                }
            });
            inqNoticeNotRead();
        },

        /*实现下拉加载，vue+jquery*/
        methods: {
            test0: window.onscroll = scroll = () => {
                if(document.body.scrollTop > 800 || document.documentElement.scrollTop > 800){
                    document.getElementById("myBtn").style.display = "block";
                }else{
                    document.getElementById("myBtn").style.display = "none";
                }
                var bottomwindow =
                    document.documentElement.offsetHeight -
                    (document.documentElement.scrollTop + window.innerHeight);
                var that = this.vm;

                if (bottomwindow <= 1 && that.no_go_down) {
                    vm.newReqLife();
                }
                },
            newReqLife:   function () {
                var that = this;
                $.ajax({
                    type: "get",
                    url: "/publicRoomLife",
                    data: {
                        "page": page
                    },
                    success: function (msg) {
                        var obj = JSON.parse(msg);
                        if (obj.length == 0) {
                            // alert("没有更多动态啦！");
                            that.or_true = true;
                            that.no_go_down = false;
                            return;
                        }
                        if (obj.length < 10) {
                            that.or_true = true;
                            that.no_go_down = false;
                        }
                        for (var i = 0; i < obj.length; i++) {
                            if (that.orTheLi(obj[i].l_id)) {
                                continue;
                            }
                            that.life.push(obj[i]);
                        }
                        page++;
                        // alert(page);
                    },
                    error: function (msg) {
                        alert("请求失败");
                    }
                });

                $.ajax({
                    type: "get",
                    url: "/publicRoomComment",
                    data: {
                        "page": page
                    },
                    success: function (msg) {
                        var obj = JSON.parse(msg);
                        if (obj.length == 0) {
                            return;
                        }
                        for (var i = 0; i < obj.length; i++) {
                            if (that.getOrTheCom(obj[i].c_id)) {
                                continue;
                            }
                            that.comment.push(obj[i]);
                        }
                        // alert(page);
                    },
                    error: function (msg) {
                        alert("请求失败");
                    }
                });

                $.ajax({
                    type: "get",
                    url: "/getPublicRoomLike",
                    data: {
                        "user_id": username,
                        "page": page
                    },
                    success: function (msg) {
                        var obj2 = JSON.parse(msg);
                        if (obj2.length == 0) {
                            return;
                        }
                        for (var i = 0; i < obj2.length; i++) {
                            if (that.getOrTheLike(obj2[i].to_life_id)) {
                                continue;
                            }
                            that.myLike.push(obj2[i]);
                        }
                    },
                    error: function (msg) {
                        alert("请求失败");
                    }
                });
            },
            /*判断是否有相同的动态*/
            orTheLi: function (l_id) {
                var that = this;
                var life = that.life;
                for (var i = 0; i < life.length; i++) {
                    if (l_id === life[i].l_id) {
                        return true;
                    }
                }
                return false;
            },
            /*判断是否有相同的评论*/
            getOrTheCom: function (c_id) {
                var that = this;
                var comment = that.comment;
                for (var i = 0; i < comment.length; i++) {
                    if (c_id === comment[i].c_id) {
                        return true;
                    }
                }
                return false;
            },
            /*判断是否有相同的点赞*/
            getOrTheLike: function (to_life_id) {
                var that = this;
                var myLike = that.myLike;
                for (var i = 0; i < myLike.length; i++) {
                    if (to_life_id === myLike[i].to_life_id) {
                        return true;
                    }
                }
                return false;
            },

            /*判断是否点赞*/
            getOrLike: function (l_id) {
                var that = this;
                var like = that.myLike;
                // console.log(like);
                /*console.log(author);*/
                for (var i = 0; i < like.length; i++) {
                    if (l_id === like[i].to_life_id) {
                        // alert(author);
                        return true;
                    }
                }
                return false;
            },

            isMySay: function () {
                var that = this;
                if (that.mySay === false) {
                    that.mySay = true;
                } else {
                    that.mySay = false;
                }

            }
        }
    });
</script>
</body>
</html>