<!DOCTYPE html>
<html lang="zh-CN">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>搜索结果</title>
    <head th:insert="~{commons::head}"></head>
</head>
<body>

<div th:replace="commons::navigation"></div>

<br><br><br><br><br><br><br><br><br>

<div class="container" id="app">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <!--<ul class="nav nav-tabs nav-justified">
                    <li role="presentation" ><a href="#" @click="isFriends()">我的关注</a></li>
                    <li role="presentation" class="active"><a href="#" @click="isFans()">谁关注我</a></li>
                </ul>-->
                <div class="panel-heading">查找结果</div>
                <div class="panel-body" v-for="sea in seaUser">
                    <div class="row">
                        <div class="col-md-10 col-xs-8">
                            <div class="media">
                                <div class="media-left">
                                    <!------头像------>
                                    <a :href="sea.u_url">
                                        <img class="media-objecta img-rounded" :src="sea.u_url">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <!------昵称------>
                                    <br>
                                    <h5 class="media-heading"><a
                                            :href="'/room?author='+sea.username">{{sea.name}} ({{sea.username}})</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-4" v-if="getOrFriend(sea.username)">
                            <div v-if="getOrFans(sea.username)">
                                <template v-for="fri in friends" v-if="fri.f_friend_id == sea.username">
                                    <button type="button" class="btn btn-block" :id="'f_'+fri.f_id" :data-id="fri.f_id"
                                            :data-friend_id="fri.f_friend_id" data-s="a" onclick="friend(this)">互相关注
                                    </button>
                                </template>
                            </div>
                            <div v-else>
                                <template v-for="fri in friends" v-if="fri.f_friend_id == sea.username">
                                    <button type="button" class="btn btn-block" :id="'f_'+fri.f_id" :data-id="fri.f_id"
                                            :data-friend_id="fri.f_friend_id" data-s="a" onclick="friend(this)">已关注
                                    </button>
                                </template>
                            </div>
                        </div>
                        <!--加关注-->
                        <div class="col-md-2 col-xs-4" v-if="!getOrFriend(sea.username) && sea.username != usernameId">
                            <button type="button" class="btn btn-info btn-block" :id="'f_'+sea.username"
                                    :data-id="sea.username"
                                    :data-friend_id="sea.username" data-s="b" onclick="friend(this)">关注
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="alert alert-success" role="alert" v-if="or_true">没有更多用户了</div>
            <button type="button" class="btn btn-info btn-block" @click="getMoreSea()" v-else>点击查找更多用户</button>
            <br>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<input type="hidden" id="tex" th:value="${seaText}">
<!--页脚-->
<footer th:replace="commons::footer"></footer>
<script th:inline="javascript">
    /*<![CDATA[*/
    var username = /*[[${session.sessionUser.username}]]*/;
    /*]]>*/
    var seaText = $("#tex").val();
    var page = 1;
    //消息轮询
    var timeCount = 0;
    var interval = setInterval("inqNoticeNotRead()",15000);
    var vm = new Vue({
        el: "#app",
        data: {
            seaUser: [],
            friends: [],
            fans: [],
            usernameId: username,
            or_true: false,
        },
        created: function () {
            var that = this;
            //获得查询结果
            $.ajax({
                type: "get",
                url: "/searchUser",
                data: {
                    "seaText": seaText,
                    "page": 0
                },
                success: function (msg) {
                    var obj1 = JSON.parse(msg);
                    if (obj1.length < 20) {
                        that.or_true = true;
                    }
                    that.seaUser = obj1;
                },
                error: function (msg) {
                    alert(msg);
                    alert("请求失败");
                }
            });

            $.ajax({
                type: "get",
                url: "/getMyFriend",
                data: {
                    "username": username,
                    "page": -1
                },
                success: function (msg) {
                    var obj1 = JSON.parse(msg);
                    that.friends = obj1;
                },
                error: function (msg) {
                    alert(msg);
                    alert("请求失败");
                }
            });
            //获得粉丝
            $.ajax({
                type: "get",
                url: "/getMyFans",
                data: {
                    "username": username,
                    "page": -1
                },
                success: function (msg) {
                    var obj1 = JSON.parse(msg);
                    that.fans = obj1;
                },
                error: function (msg) {
                    alert(msg);
                    alert("请求失败");
                }
            });
            inqNoticeNotRead();
        },
        methods: {

            getMoreSea: function () {
                var that = this;

                $.ajax({
                    type: "get",
                    url: "/searchUser",
                    data: {
                        "seaText": seaText,
                        "page": page
                    },
                    success: function (msg) {
                        var obj = JSON.parse(msg);
                        if (obj.length === 0) {
                            // alert("没有更多动态啦！");
                            that.or_true = true;
                            return;
                        }
                        if (obj.length < 20) {
                            that.or_true = true;
                        }
                        for (var i = 0; i < obj.length; i++) {
                            that.seaUser.push(obj[i]);
                        }
                        page++;
                    },
                    error: function (msg) {
                        alert(msg);
                        alert("请求失败");
                    }
                });
            },

            /*判断是否关注*/
            getOrFriend: function (f_user_id) {
                var that = this;
                var friend = that.friends;
                // console.log(friend);
                /*console.log(author);*/
                for (var i = 0; i < friend.length; i++) {
                    if (f_user_id == friend[i].f_friend_id) {
                        // alert(author);
                        return true;
                    }
                }
                return false;
            },
            /*判断是否互相关注*/
            getOrFans: function (f_user_id) {
                var that = this;
                var fans = that.fans;
                // console.log(friend);
                /*console.log(author);*/
                for (var i = 0; i < fans.length; i++) {
                    if (f_user_id == fans[i].f_user_id) {
                        // alert(author);
                        return true;
                    }
                }
                return false;
            }


        }
    });

</script>
</body>
</html>