<!DOCTYPE html>
<html lang="zh-CN">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>修改资料</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="mycss/my.css" rel="stylesheet">
    <script src="bootstrap/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {

            /*background-repeat: no-repeat;*/

            /*background-position: center center #2D0F0F;*/

            background-color: #f0f0f0;

            background-image: url(/rooms/背景7.jpeg);

            background-size: 100%;

            /*background-size: cover;*/

            background-attachment: fixed;

        }
    </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">木禾空间</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li th:if="${session.sessionUser != null}"><a href="/"><span class="glyphicon glyphicon-user"
                                                                             aria-hidden="true"></span> 个人空间</a>
                </li>
                <li class="active" th:if="${session.sessionUser != null}"><a
                        th:href="'/room?author='+${session.sessionUser.username}"><span class="glyphicon glyphicon-home"
                                                                                        style="color: #00a1d6"
                                                                                        aria-hidden="true"></span> 我的主页</a>
                </li>
                <li th:if="${session.sessionUser != null}"><a href="/friend"><span
                        class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> 好友</a></li>
                <li><a href="/publicRoom"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> 公共圈</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="/search">
                <div class="form-group">
                    <input type="text" class="form-control" name="seaText" placeholder="账号、昵称">
                </div>
                <button type="submit" class="btn btn-default">查找</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-sm hidden-xs"><a href="/play"><span class="glyphicon glyphicon-ice-lolly-tasted"
                                                                      aria-hidden="true"></span> 娱乐</a></li>
                <li><a href="/notice">
                    <span class="glyphicon glyphicon-bell" aria-hidden="true" id="ic_notice"></span>
                    <span class="badge" id="notice">0</span>
                </a></li>
                <li th:if="${session.sessionUser == null}"><a href="/go">登录</a></li>
                <li class="dropdown" th:if="${session.sessionUser != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">[[${session.sessionUser.name}]] <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--                        <li role="separator" class="divider"></li>-->
                        <li><a href="/logout" style="color: #00a1d6"><span class="glyphicon glyphicon-log-out"
                                                                           aria-hidden="true"></span> 退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>
<div class="container">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-success">
                <div class="panel-heading">
                    个人资料
                </div>
                <!--<ul class="list-group">
                    <li class="list-group-item"><a th:href="'/room?author='+${session.sessionUser.username}">返回</a></li>
                    &lt;!&ndash;<li class="list-group-item">更换头像</li>&ndash;&gt;
                </ul>-->
                <div class="panel-body">
                    <p><a th:href="'/room?author='+${session.sessionUser.username}">返回</a></p><br>
                    <!--<p>更换头像</p><br>-->
                    <form action="/imageUpload" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-2 col-xs-3">
                                <input type="hidden" name="username" th:value="${session.sessionUser.username}">
                                <input class="btn " type="button" value="更换头像"
                                       onclick="javascript:$('input[name=\'file\']').click();"/>
                                <!-- <input  name="fileName" readonly /> -->
                                <input type="file" id="imgFile" accept="image/*" name="file" style="display: none;"/>
                            </div>
                            <!--<div class="col-md-5 col-xs-5">
                                <input class="form-control" id="fileNa" name="fileName" readonly/>
                            </div>-->
                            <div class="col-md-2 col-xs-2">
                                <input class="btn" type="submit" value="上传">
                            </div>
                        </div>
                    </form>
                    <br>
                    <div id="abcd" style="max-width: 140px"></div>
                    <br>
                    <form class="form-inline" action="/upd" method="post">
                        <input type="hidden" name="username" th:value="${session.sessionUser.username}">
                        <div class="form-group">
                            <label for="exampleInputName1">昵称：</label>
                            <input type="text" class="form-control" id="exampleInputName1" name="name"
                                   th:value="${session.sessionUser.name}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">邮箱：</label>
                            <input type="email" class="form-control" id="exampleInputEmail2" name="email"
                                   th:value="${session.sessionUser.email}">
                        </div>
                        <button type="submit" class="btn ">更改</button>
                    </form>
                    <br>
                    <form class="form-inline" action="/updPassword" method="post">
                        <input type="hidden" name="username" th:value="${session.sessionUser.username}">
                        <div class="form-group">
                            <label for="exampleInputName2">新密码</label>
                            <input type="password" class="form-control" id="exampleInputName2" name="password" >
                        </div>
                        <button type="submit" class="btn ">确认</button>
                    </form>
                    <br>
                    <form class="form-horizontal" action="/upperData" method="post">
                        <input type="hidden" name="user_id" th:value="${session.sessionUser.username}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">空间名称：</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="a" placeholder="" name="room_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">签名：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="b" placeholder="" name="mood">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别：</label>
                            <div class="col-sm-2">
                                <!--<input type="text" class="form-control" id="c" placeholder="" name="sex">-->
                                <select class="form-control" id="c" name="sex">
                                    <option value="男" selected>男</option>
                                    <option value="女">女</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">生日：</label>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" id="d" value="2000-01-01" name="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">现居地：</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" id="e" placeholder="" name="locus">-->
                                <select class="form-control" id="e" name="locus">
                                    <option value="中山">中山</option>
                                    <option value="江门">江门</option>
                                    <option value="珠海">珠海</option>
                                    <option value="佛山">佛山</option>
                                    <option value="广州" selected>广州</option>
                                    <option value="深圳">深圳</option>
                                    <option value="东莞">东莞</option>
                                    <option value="惠州">惠州</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">职业：</label>
                            <div class="col-sm-3">
                                <!--<input type="text" class="form-control" id="f" placeholder="" name="profe">-->
                                <select class="form-control" id="f" name="profe">
                                    <option value="学生" selected>学生</option>
                                    <option value="教师">教师</option>
                                    <option value="公务员">公务员</option>
                                    <option value="白领">白领</option>
                                    <option value="蓝领">蓝领</option>
                                    <option value="服务员">服务员</option>
                                    <option value="工程师">工程师</option>
                                    <option value="单身汪">单身汪</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">个人简介：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="g" placeholder="" name="brief">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<script src="../mycss/my.js"></script>

<script>
    $(document).ready(function () {
        per_data();
        inqNoticeNotRead();
    });

    //preview img ： filereader方式
    /*document.getElementById('imgFile').onchange = function (e) {
        var ele = document.getElementById('imgFile').files[0];

        var fr = new FileReader();
        fr.onload = function (ele) {

            //var pvImg = new Image();
            var imgSrc = ele.target.result;
            console.log(imgSrc);
            //pvImg.src = ele.target.result;
            //pvImg.setAttribute('id', 'previewImg');

            $('#imgY').attr('src',imgSrc);
        }
        fr.readAsDataURL(ele);
    }*/
    //preview img ： URL.createObjectURL 方式
    document.getElementById('imgFile').onchange = function (e) {
        var ele = document.getElementById('imgFile').files[0];

        var createObjectURL = function (blob) {
            return window[window.webkitURL ? 'webkitURL' : 'URL']['createObjectURL'](blob);
        };
        var newimgdata = createObjectURL(ele);

        var pvImg = new Image();
        pvImg.src = newimgdata;
        pvImg.style = "max-width: 140px";
        pvImg.setAttribute('id', 'previewImg');
        $('#abcd').html('').append(pvImg);
        //$('#imgY').attr('src',pvImg.src);
    }

    var username = [[${session.sessionUser.username}]];

    /*---------------发送请求--------*/
    function per_data() {
        $.ajax({
            type: "get",
            url: "/getperdata",
            data: {"user_id": username},
            success: function (msg) {
                var obj = JSON.parse(msg);

                $("#a").val(obj.room_name);
                $("#b").val(obj.mood);
                if (obj.sex != null) {
                    $("#c").val(obj.sex);
                    $("#d").val(obj.date);
                    $("#e").val(obj.locus);
                    $("#f").val(obj.profe);
                }
                $("#g").val(obj.brief);
                flag = false;
            },
            error: function (msg) {
                alert("请求失败");
            }

        });
    }
</script>

</body>
</html>